<div style="color: black; margin:20px; display:flex; justify-content:flex-end">
  <h2>Total Amount: {{totalAmount}}</h2>
  <button class="order" (click)="orderAll(cartItems)">Order All</button>
</div>

<div class="wrapper">
  <div class="item" *ngFor="let x of cartItems">
    <h3 class="title">{{x.name}}</h3>
    <div class="col">
      <p class="price">${{x.price}}</p>
      <div class="actions">
        <button class="button" (click)="removeFromCart(x)">-</button>
        <span class="amount">{{x.quantity}}</span>
        <button class="buttion" (click)="addMoreInCart(x)">+</button>
      </div>
    </div>
    <div style="display: flex; justify-content:flex-end">
      <button class="order" (click)="order(x)">Order now</button>
    </div>
  </div>
</div>