<div class="product-wripper">
    <div class="product"*ngFor="let x of Products">
        <h1 class="title">{{x.name}}</h1>
        <div class="images">
            <img [src]=x.imgUrl class="img"> 
        </div>
        <div class="description">
            <p>{{x.description}}</p>
        </div>
        <div class="price">
            <p>${{x.price}}</p>
        </div>
        <div class="buttons">
            <button class="btn">view</button>
            <button class="btn" (click)="addToCart(x)">+Add</button>
        </div>
    </div>
</div>