.product-wripper{
  display: flex;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;
}

.product{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  height: 370px;
  width: 268px;
  margin: 20px;
}

.title{
  font-weight: bold;
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.img{
  border-radius: 50%;
  height: 130px;
  width: 170px;
}

.description{
  font-style: italic;
  color: black;
  margin-bottom: 20px;
}
.price{
  display: flex;
  justify-content: flex-end;
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn{
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  text-align: right;
  margin-left: 5px;
}

.btn:hover,
.btn:active {
  background-color: #641e03;
  border-color: #641e03;
}