<div class="addButton">
    <button class="btn" (click)="AddNewProduct()">Add New Product</button>
</div>
<div class="product-wripper">
    <div class="product"*ngFor="let x of products">
        <h1 class="title">{{x.name}}</h1>
        <div class="images">
            <img [src]=x.imgUrl class="img"> 
        </div>
        <div class="description">
            <p>{{x.description}}</p>
        </div>
        <div class="price">
            <p>${{x.price}}</p>
        </div>
        <div class="buttons">
            <button class="btn" (click)="EditProduct(x)">Edit</button>
            <button class="btn" (click)="PreviewProduct(x)">Priview</button>
            <button class="btn" (click)="DeleteProduct(x)">Delete</button>
        </div>
    </div>
</div>